<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d	
    RewriteRule ^(.*)$ /dropbox/Cybernetico_Live/index.php?/$1 [L]
</IfModule>